
{% load static %}
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="{% static 'assets/imagenes/logo_don_peter.png' %}" type="image/x-icon">
    <meta name="description" content="Somos DonPeter, el mejor lugar para disfrutar completos. Realiza tus pedidos y evita las filas y tiempos de espera.">
    
    
    <title>DonPeter</title>
    <link rel="stylesheet" href="{% static 'assets/donpeter2.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  
    <!-- Opcional: Enlace al archivo CSS de Bootstrap Grid -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap-grid.min.css" rel="stylesheet">
    
    <!-- Opcional: Enlace al archivo CSS de Bootstrap Reboot -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap-reboot.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style(1).css' %}">
    <link rel="stylesheet" href="{% static 'assets/css2' %}" as="style">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap&display=swap"></noscript>
    <link rel="stylesheet" href="{% static 'assets/css/mbr-additional.css' %}"><link rel="stylesheet" href="{% static 'assets/css/mbr-additional.css' %}" type="text/css">
    
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Ejemplos Webpay Plus - Crear Transacci&oacute;n</title>
  </head>

  <body class="container">

    <form action="{{ response.url }}" method="POST" target="_top">
      <input type="hidden" name="token_ws" value="{{ response.token }}" />
      <br>
      <br>
      <br>
      <br>
      <br>
      <p style="text-align: center;">Reclama tu pedido mostrando tu boleta al pagar, te recomendamos agregar comentarios en el formulario de tu pedido 😉</p>
      <input type="submit" class="btn" style="background-color: rgb(103, 249, 103); display: block; margin: 0 auto;" value="Pagar" />

    </form>


    <a href="{% url 'carrito' %}">&laquo; volver al carrito</a>
  </body>
</html>
