body {
    font-family: Arial, sans-serif;
    background-color: #fd0303;
    margin: 0;
    
  }
  
  .container {
    background-color: #d20000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="date"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #schedule-display {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  